<div class="container">
    <h1>Productos:</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Descripción</th>
                <th>Code</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{code}}</td>
                <td>${{price}}</td>
                <td>{{stock}} Und.</td>
                <td>{{category}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>